doctype html
html
  head
    title= `${title}`
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/css/style.css")
  body
    h1 Update Custom Object Form
    form(action="/update-cobj" method="POST")
      label(for="name") Name:
      input(type="text" id="name" name="name" required)
      br
      label(for="genre") Engine:
      input(type="text" id="engine" name="engine" required)
      br
      label(for="rating") Brand:
      input(type="text" id="brand" name="brand" required)
      br
      button(type="submit") Submit
    br
    a(href="/") Return to the homepage